

body {
  margin-left: 20%;
  margin-right: 10%;
  background-color: antiquewhite;
}

.job {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.detail-logo {
  height: 30px;
  float: right;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

.welcome-description {
  width: 80%;
  margin: 20px 0;
  padding: 20px 10px;
}

.welcome-item {
  opacity: 100;
  transition: .5s ease all;
}

.flex-align-mid {
  display: flex;
  align-items: center;
}

.job-title-location {
  margin-left: 20px;
  text-align: left;
}

.jobs {
  text-align: center;
  font-family: cursive;
}


.MuiTypography-root {
  font-family: serif;
  font-style: oblique;
  font-variant: small-caps;

}
.MuiTypography-h6 {
  padding-top: 10px;
  padding-right: 250px;
  padding-left: inherit;
}

.MuiTypography-h3 {
  font-family: cursive !important;
  font-variant: normal !important;
  text-align: justify;
  padding-left: 285px;
  padding-top: 20px;
}

